<!-- <img src="assets/{{product}}.png"> -->
<!-- <img *ngIf="display" src="assets/default.png" style="width: 100%;
height: 981px;"> -->

<video  *ngIf="display" loop  controls autoplay   > 
  <source src="assets/Screen3.mp4" type="video/mp4">
</video>

<script type="text/javascript">
  var addthis_share = {
   url_transforms : {
       add: {
          {{imgsrc}};
       }
   } 
}
</script>

<!-- <video  type="video/mp4"></video> -->
<div *ngFor="let imgsrc of videoSrc">
<video *ngIf="!display && isVideo" loop  controls autoplay> 
  <source src="{{imgsrc}}" type="video/mp4">
</video>
</div>
<div *ngFor="let imgsrc of imgSrc">
  <img *ngIf="!display && isImage" src="{{imgsrc}}">
</div>
<router-outlet></router-outlet>


<!-- <app-add-product></app-add-product> -->